.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background: #363a3f;
  height: 100vh;
}

.chat__input {
  color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background: #474b53;
}

.chat__inputIcon {
  font-size: 32px;
  padding: 5px;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  width: 100%;
  font-size: 24px;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__messages {
  flex: 1;
}
